
<div id="company-add" class="container">
    <h3 class="text-center">Add a @ViewBag.DatabaseType to the Database</h3>

    <form class="column-flex form" method="post">
        <label for="nameAdd">@ViewBag.DatabaseType Name:</label>
        <input id="nameAdd" name="name" required>

        <label for="emailAdd">@ViewBag.DatabaseType Email Address:</label>
        <input  id="emailAdd" name="email">

        <label for="websiteAdd">@ViewBag.DatabaseType Website:</label>
        <input name="website" id="websiteAdd">

        <label for="logoAdd">@ViewBag.DatabaseType Logo:</label>
        <input id="logoAdd" name="logo" type="file">

        <button type="submit" id="companyAddBtn" class="btn">Add</button>
    </form>
</div>