
<div id="company-update" class="container">
    <h3 class="text-center">Update Company</h3>

    <form class="form update row-flex" method="post">
        <div class="flex-cntr">
            <div class="column-flex">
                <label for="companyNameAdd">New @ViewBag.DatabaseType Name:</label>
                <input id="companyNameAdd" name="Name" value="@DatabaseManagement.SelectedCompany.Name">
            </div>
        </div>
            
        <div class="flex-cntr">
            <div class="column-flex">
                <label for="companyEmailInput">New @ViewBag.DatabaseType Email Address:</label>
                <input id="companyEmailInput" name="Email" value="@DatabaseManagement.SelectedCompany.Email">
            </div>
                    
        </div>

        <div class="flex-cntr">
            <div class="column-flex">
                <label for="companyWebsiteInput">New @ViewBag.DatabaseType Website:</label>
                <input id="companyWebsiteInput" name="Website" value="@DatabaseManagement.SelectedCompany.Website">
            </div>
        </div>
                
        @* Logo things removed for display temporarily
            <div class="flex-cntr logo-cntr">
      
            <div class="column-flex">
                <label>Current @ViewBag.DatabaseType Logo:</label>
                <img data="@DatabaseManagement.SelectedCompany.Logo" >
            </div>
            <div class="column-flex file-input">
                <label for="labelUpdate">New @ViewBag.DatabaseType Logo:</label>
                <input type="file" id="logoUpdate" name="logoUpdate">
            </div>
        </div>*@
            
        <button type="submit" id="companySubmitBtn" class="btn">Update <i class="fas fa-check"></i></button>
         
        <p id="companyErrorMessage"></p>
    </form>
</div>

<script src="~/js/companyValidation.js" asp-append-version="true"></script>