
<div id="company-update" class="container">
    <h3 class="text-center">Update a @ViewBag.DatabaseType</h3>

    <form class="form update row-flex" method="post">
        <div class="flex-cntr">
            <div class="column-flex">
                <label>Current @ViewBag.DatabaseType Name:</label>
                <p>@DatabaseManagement.SelectedCompany.Name</p>
            </div>
            <div class="column-flex">
                <label for="nameUpdate">New @ViewBag.DatabaseType Name:</label>
                <input id="nameUpdate" name="Name">
            </div>
        </div>
            
        <div class="flex-cntr">
            <div class="column-flex">
                <label>Current @ViewBag.DatabaseType Email Address:</label>
                <p>@DatabaseManagement.SelectedCompany.Email</p>
            </div>
            <div class="column-flex">
                <label for="emailUpdate">New @ViewBag.DatabaseType Email Address:</label>
                <input id="emailUpdate" name="Email">
            </div>
                    
        </div>

        <div class="flex-cntr">
            <div class="column-flex">
                <label>Current @ViewBag.DatabaseType Website:</label>
                <p>@DatabaseManagement.SelectedCompany.Website</p>
            </div>
            <div class="column-flex">
                <label for="siteUpdate">New @ViewBag.DatabaseType Website:</label>
                <input id="siteUpdate" name="Website">
            </div>
        </div>
                
        @* Logo things removed for display temporarily
            <div class="flex-cntr logo-cntr">
      
            <div class="column-flex">
                <label>Current @ViewBag.DatabaseType Logo:</label>
                <img data="@DatabaseManagement.SelectedCompany.Logo" >
            </div>
            <div class="column-flex file-input">
                <label for="labelUpdate">New @ViewBag.DatabaseType Logo:</label>
                <input type="file" id="logoUpdate" name="logoUpdate">
            </div>
        </div>*@
            
        
        <button type="submit" id="companyUpdateBtn" class="btn">Update</button>
         
    </form>
    
</div>