

<div id="company-search-results" class="container">
        
    <h3>Search Results:</h3>
    <div class="search-results-cntr column-flex">

       @if( DatabaseManagement.CompanySearchResults[3].Count() == 0) { 
            <div class="text-center">No entries matched your search terms.</div>
        } 
        else
        {
            
            @foreach (Company company in DatabaseManagement.CompanySearchResults[3])
            {
                <div class="search-result row-flex flex-between">
                    <div class="result-detail">
                        <p class="detail-element">@company.DisplayName()</p>
                       
                        @if(company.Website != null && company.Website != "")
                        {
                            <p class="detail-element">@company.DisplayWebsite()</p>    
                        }

                        @if(company.Email != null && company.Email != "")
                        {
                            <p class="detail-element">@company.DisplayEmail()</p>
                        }
                    </div>
                    
                    <div class="search-result-btn-cntr">
                        @using(Html.BeginForm("ViewCompany", "DatabaseManager"))
                        {
                            <button class="btn" name="updateCompany" type="submit" value="@company.Id"><i class="fas fa-folder-open"></button>
                        }

                        @using(Html.BeginForm("DeleteCompany", "DatabaseManager"))
                        {
                            <button class="btn" name="deleteCompany" type="submit" value="@company.Id"><i class="fas fa-trash"></button>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="delete-warning-message">
        <p>Are you sure you want to delete "###" from the "###" Database?</p>
        <div class="row-flex flex-center">
            <button class="btn">Yes</button>
            <button class="btn">No</button>
        </div>
    </div>

</div>