@using DatabaseManager

<div id="employee-update" class="container">
    <h3 class="text-center">Viewing Employee</h3>
    <div class="view column-flex" method="post">
        <div class="flex-cntr row-flex">
            <div class="column-flex">
                <label>First Name:</label>
                <p>@DatabaseManagement.SelectedEmployee.FirstName</p>
            </div>
            <div class="column-flex">
                <label>Last Name:</label>
                <p>@DatabaseManagement.SelectedEmployee.LastName</p>
            </div>
        </div>
            
        <div class="flex-cntr row-flex">
            <div class="column-flex">
                <label for="emailInput">Email Address:</label>
                @if(@DatabaseManagement.SelectedEmployee.Email != "")
                {
                    <p>@DatabaseManagement.SelectedEmployee.Email</p>
                } 
                else
                {
                    <p>None on record.</p>
                }
            </div>     
            <div class="column-flex">
                <label>Place of Work:</label>
                @if (DatabaseManagement.SelectedEmployee.PlaceOfWork != null)
                {
                    <p>@DatabaseManagement.SelectedEmployee.PlaceOfWork.Name</p>
                }
                else
                {
                    <p>None on record.</p>
                }
            </div>  
        </div>
                
        <div class="flex-cntr">
            <div class="column-flex">
                <label>Phone Number:</label>
                @if(@DatabaseManagement.SelectedEmployee.PhoneNumber != "")
                {
                    <p>@DatabaseManagement.SelectedEmployee.PhoneNumber</p>
                } 
                else
                {
                    <p>None on record.</p>
                }
            </div>
        </div>
        
        <div class="row-flex viewBtns">
             <a class="btn" name="updateEmployee" href="/DatabaseManager/EmployeeUpdate"><i class="fas fa-pen"></i></a>

            @using(Html.BeginForm("DeleteEmployee", "DatabaseManager"))
            {
                <button class="btn" name="deleteEmployee" type="submit" value="@DatabaseManagement.SelectedEmployee.Id"><i class="fas fa-trash"></i></button>
            }
        </div>
       
    </div>
</div>
