
<div id="employee-search-results" class="container">
        
    <h3 >Search Results:</h3>
    <div class="search-results-cntr column-flex">
        
        @if( DatabaseManagement.EmployeeSearchResults[5].Count() == 0) { 
            <div class="text-center">No entries matched your search terms.</div>
        } 
        else
        {
            @foreach (Employee employee in DatabaseManagement.EmployeeSearchResults[5])
            {
                <div class="search-result row-flex flex-between">
                    <div class="result-detail">
                        <p class="detail-element">@employee.DisplayName()</p>
                       
                        @if(employee.PlaceOfWork != null)
                        {
                            <p class="detail-element">@employee.DisplayCompany()</p>    
                        }

                        @if(employee.PhoneNumber != null && employee.PhoneNumber != "")
                        {
                            <p class="detail-element">@employee.DisplayNumber()</p>
                        }

                        @if(employee.Email != null && employee.Email != "")
                        {
                            <p class="detail-element">@employee.DisplayEmail()</p>
                        }
                    </div>
                    
                    <div class="search-result-btn-cntr">
                        @using(Html.BeginForm("ViewEmployee", "DatabaseManager"))
                        {
                            <button class="btn" name="updateEmployee" type="submit" value="@employee.Id"><i class="fas fa-folder-open"></button>
                        }
                        
                        @using(Html.BeginForm("DeleteEmployee", "DatabaseManager"))
                        {
                            <button class="btn" name="deleteEmployee" type="submit" value="@employee.Id"><i class="fas fa-trash"></button>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="delete-warning-message">
        <p>Are you sure you want to delete "###" from the "###" Database?</p>
        <div class="row-flex flex-center">
            <button class="btn">Yes</button>
            <button class="btn">No</button>
        </div>
    </div>

</div>

